*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-inter{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
     padding-top: 16px;
}
nav{
     width: 117%;
     max-width: 1360px;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0 120px;
     
}


nav .menu{
     display: flex;
     list-style: none;
     align-items: center;
     gap: 32px;     
}
nav .menu a{
     font-size: 16px;
     text-decoration: none;
}
.logo{
     width: 139px;
     height: 60px;
     margin: 16px;
}
.btn{
     background-color: #30B868;
     border: none;
     padding: 12.5px 16px;
     border-radius: 4px;
     font-size: 16px;
     font-weight: 600px;
     color: white;
     cursor: pointer;
}



.hero{
     background:url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.hero-container{
     width: 117%;
     max-width: 1360px;
     margin:0 auto;
     padding: 115.5px 120px 179.5px;
     text-align: center;
 


}
.hero-badge{
     padding-bottom: 16px;

     
}

.hero-btn{
     padding: 8px 12px;
     border: none;
     border-radius: 1000px;
     color: #30B868;
     font-size: 16px;

     
     
}
.hero-dot{


}
.hero-container h1{
     color: white;
     padding-bottom: 16px;

}
.color{
     color: #30B868;
}

.hero-container p{
     color: white;
     line-break: 16px ;

}
.hero-button{
     padding-top: 32px;
     display: flex;
     gap: 16px;
     padding-left: 380px;
}


.btn1{
     padding: 16.5px 16px;
     background-color: #30B868;
     color: white ;
     border: none;
border-radius: 4px;
}
.btn2{
     padding: 16.5px 16px;
     color: white;
border-radius: 4px;
background-color: transparent;
border: 1px solid white;
}


.section-heading h2{
     font-size: 48px;

     padding-bottom: 16px;
}
.section-heading{
     max-width: 1360px;
     text-align: center;
   margin: 0 auto;
   padding-top: 60px ;
}

     

#skills .skills-container{
      width: 117%;
     max-width: 1360px;
     margin:0 auto;
}

.skill-box{
     padding-top: 44px;
}

#skills .skills-container .skill-box{
     display: flex;
     gap: 24px;
}
.skill-box .skill-card {
     padding: 30px;
     /*border: 1px solid red;*/
     box-shadow: 0 6px 50px 0 #00000024;
     max-width: 322px;
     height: 350px;

}
.skill-card img{
max-width: 14px;
padding-bottom: 16px;

}
.skill-card h3{
     font-size: 24px;
     color: #181818;
     margin-bottom: 20px;
}
.skill-card p {
     font-size: 16px;
     color: #757575;
     line-height: 28px;
     margin-bottom: 69px;


}

.solution-container{
     width: 117%;
     max-width: 1360px;
     margin: 0 auto;
     display: flex;
}

.solution-content{
     align-items: center;
     padding-top: 102px ;
}
.solution-content h1{
     padding-top: 16px;
}
.text-p{
   padding-top: 16px;
}
.text{
     padding-top: 40px;
}
.img {

     padding-right: 6px;
     padding: auto;
}

.ready-container{
     width: 117%;
     max-width: 1360px;
     margin: 0 auto;
     background-color: #F7F6F2;
}

.ready-heading{
     padding-top: 80px;
     text-align: center;
}
.ready-heading p{
     padding-top: 16px;
}
.ready-button{
     text-align: center;
     padding-top: 24px;
}

.ready-button button{
     padding: 16.5px;
     border-radius: 4px;
     border: none;
     background-color: #30B868;
     color: white;
     
     
}
.ready-button p{
     padding-top: 16px;

}
.image{
  
}
     


























